-if message.user.id == current_user.id
  .message__mine
    .message__mine__index
      .message__mine__index__name
        = current_user.name
      .message__mine__index__date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .message__member__low
      - if message.content.present?
        .message__member__text
          = message.content  
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
-else
  .message__member
    .message__member__index
      .message__member__index__name
        = message.user.name
      .message__member__index__date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .message__memnber__low
      - if message.content.present?
        .message__member__text
          = message.content  
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?